@{
    ViewBag.Title = "Index";
}

<h3>There was an error in the Shop Group creation process. Please close the window and try again</h3>

<p>
    <input id="CloseShopGroupWindow" type="button" onclick="Platform.Canvas.closeDialog()" value="Close Shop Group Window"></input>
</p>