@using SywApplicationShopGroup.Domain.Auth
@model SywApplicationShopGroup.Web.UI.Models.ProductViewModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Index Shop Group Product</h2>

@if (Model == null)
{
    <p>
        <label>Oppps, there seems to be a problem with the application.<br />
            Please close the window and try again</label><br />
        <input id="CloseShopGroupWindow" type="button" onclick="Platform.Canvas.closeDialog()" value="Close Window"></input>
    </p>

}
else
{
   
    <p>
        Hi @Model.UserName,
        <br>
        We at Shop Group want to give you more! 
You can get extra discount or SWY reward point if you buy this product with your friends.
Create a new Shop Group and start saving $
    </p>
    
   
    <p>
        <input id="CreateShopGroup" type="button" onclick="window.location.href = 'Product/CreateShopGroup?token=@Model.SessionToken&productId=@Model.ProductId    ';" value="Create Shop Group"></input>
    </p>
}
