@using SywApplicationShopGroup.Domain.Auth
@model SywApplicationShopGroup.Web.UI.Models.LandingPageViewModel
@{
    ViewBag.Title = "Landing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Landing</h2>

@if (Model == null)
{
    <p>
        <label>
            Oppps, there seems to be a problem with the application.<br />
            Please close the window and try again</label><br />
    </p>

}
else
{
    <h2>@Model.UserName Welcome to Shop Group </h2>

    <p>Some Text</p>

    if (Model.UserState == UserState.Authorized)
    {
        <p>To learn more <a href="@Model.DashboardUrl" target="_top">start using Shop Group</a> right now</p>
    }
    else
    {
    <p>To learn more <a href="@Model.AppLoginUrl" target="_top">Install Shop Group</a> right now</p>
    }
}
